.ant-table-placeholder{
  font-size:12px !important;
}
.app-common-table-empty{
  height:100% !important;
  display:flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.ant-skeleton-active{
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  .ant-skeleton-content{
    width: 90% !important;
    height: auto !important;
  }
}